.header {
    border-bottom: 1px solid #ddd;
    padding: 16px 0;

    .left-icon-container {
        width: 100px;
        text-align: center;
        border-right: 1px solid #ddd;
    }

    .right-icon-container {
        width: 150px;
        text-align: center;
    }
}
