.tab-content {
    background-color: #f5f5ff;
    padding: 16px;
    height: 400px;
}

.relative {
    position: relative;
}

.custom-dropdown {
    position: absolute;
    top: 8px;
    right: 12px;
}