<app-header></app-header>

<div>
  <tabset type="pills">
    <tab 
      *ngFor="let tabz of tabs" 
      [heading]="tabz.title" 
      [active]="tabz.active" 
      (selectTab)="tabz.active = true"
      (deselect)="tabz.active = false">
        <app-toolbar></app-toolbar>
        <div class="tab-content">
          <ul class="pl-3">
            <li>{{tabz.title}} selected</li>
          </ul>
          <div *ngIf="tabz.id ===2">
            <app-demo-chart></app-demo-chart>
          </div>
          <button *ngIf="tabz.id ===3" class="btn btn-primary btn-sm" (click)="changeActiveTab()">Route to Tab1</button>
        </div>
    </tab>
  </tabset>
</div>